:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #ffffff;
  --navigation-color: #2196f3;
  --dark-background-color: #2f303a;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  text-decoration: none;
}

/* <!--Шапка сайта-- >  */

.site-nav {
  text-decoration: none;
  color: var (--title-text-color);
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 3%;
  text-decoration: none;
  color: black;
}

.logo-color {
  font-family: Raleway, sans-serif;
  font-style: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 3%;
  color: var(--navigation-color);
}

ul {
  list-style: none;
}

.site-nav .link {
  color: var(--title-text-color);
  font-style: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 2%;
  text-decoration: none;
}
.contact-link .link {
  color: var(--title-text-color);
  font-style: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 2%;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}
.contact-link .link:hover,
.contact-link .link:focus {
  color: #2196f3;
}

/* <!--Hero-- >  */

.hero-section {
  background-color: var(--dark-background-color);
}

.title-hero {
  color: var(--accent-color);
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 6%;
  font-weight: 900;
  text-align: center;
}

.button-primary {
  color: var(--accent-color);
  background-color: #2196f3;
  font-style: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 6%;
}
.button-primary:hover,
.button-primary:focus {
  color: #2196f3;
}

/* <!--Features--> */

.features-title {
  color: var(--title-text-color);
  font-style: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 3%;
}
.title-color {
  color: var(--title-text-color);
}

.feautures-text {
  font-style: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 3%;
}

/* <!--Activities-- > */

.image-link:hover,
.image-link:active {
  color: currentColor;
}
